{% load render_table from django_tables2 %}
{% load querystring from django_tables2 %}
{% load bootstrap3 %}
<!doctype html>
<html>
    <head>
        <a href="board/"><title>Show Traffic</title></a>
        <link rel="stylesheet" href="/static/css/pos.css"/>
        <link rel="stylesheet" href="/static/css/bootstrap.min.css"/>
        <link rel="stylesheet" href="/static/css/table_1.css"/>
        <style>
           body {background-color: whitesmoke;}
        </style>
        <script type="text/javascript" src="/static/js/jquery-1.11.0.js"></script>
    </head>
    <body>
        <div id="Top" style="background:#38c">
            <a href="/main" id="acrn_title">&nbsp;Show Traffic</a>
        </div>
        <div id="Center">
            <div id="Center_Filter">
                <form action="/traffic_filter" method="get">
                <table class="center_table">
                    <tr><td colspan="5"><h3>Filter</h3></td></tr>
                    <tr>
                        <td>Time Type:</td>
                        <td>&nbsp;&nbsp;<select name="filter_time" style="width: 100px;">
                            <option value=""></option>
                            {% for i in category_list %}
                            <option value="{{i}}" {% if i == filter_time %} selected{% endif %}>{{i}}</option>
                            {% endfor %}
                        </select></td>
                        <td></td>
                    </tr>
                    <tr>
                        <td>Camera Type:</td>
                        <td>&nbsp;&nbsp;<select name="filter_camera" style="width: 100px;">
                            <option value="all">All</option>
                            {% for camera in cameras %}
                            <option value="{{camera.camera_id}}" {% if camera.camera_id == filter_camera %} selected{% endif %}>{{camera.camera_id}}</option>
                            {% endfor %}
                        </select></td>
                        <td><input type="submit" value="Filter"></td>
                    </tr>
                </table>
                </form>
            </div>
        </div>
        <div id="Table">
            <h3>&nbsp;Device table</h3>
            {% render_table table %}
        </div>
    </body>
</html>
